.article{
    font-size: 16px;
}

.article .post_title{
    padding-bottom: 20px;
    margin-left: -10px;
}

.article .post_title h1{
    margin-left: 10px;
}

.article .post_title h5{
    font-weight: bold;
    margin-bottom: 0;
}

.article a{
    color: #333;
    text-decoration: underline;
}

.article h2{
    width: 80%;
    margin-left: -15px;
    padding-left: 10px;
    border-left: thick solid rgba(255, 153, 0, 0.81);
    border-bottom: thin solid rgba(255, 153, 0, 0.81);
}

.article h3{
    width: 80%;
    margin-left: -15px;
    padding-left: 15px;
    border-bottom: thin solid rgba(255, 153, 0, 0.81);
}