{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="content">
    <div class="main">
        <div class="post_list">
            <h2>{{ .Title }}</h2>

            <ul class="posts">
                {{ range $page := .Paginator.Pages }}
                {{ partial "headline.html" $page }}
                {{ end }}

                {{ template "_internal/pagination.html" . }}
            </ul>



        </div>




    </div>
</div>



{{ partial "footer.html" . }}
