<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>おおたの物置</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/list.css">

    <meta name="description" content="site">
    <meta name="author" content="ota42y">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="body">
    <div class="header_wrapper">
        <div class="content">
            <div class="header">
                <div class="header_left">
                    <a class="banner" href="/">おおたの物置</a>
                </div>
                <div class="header_right">about</div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="main">
            <div class="post_list">
                <h2>過去の記事</h2>

                <ul class="posts">
                    <li>
                        <div class="entry_title"><a href="http://localhost:1313/_default/single.html">2015-02-01 2015年8週目まとめ</a></div>
                        <div class="tag">tag1</div><div class="tag">tag3</div><div class="tag">tag2</div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="entry_title"><a href="http://localhost:1313/post/2015-02-22-summary/">なんかいろいろ</a></div>
                        <div class="tag">tag1</div><div class="tag">tag3</div><div class="tag">tag2</div>
                        <div class="clear"></div>
                    </li>

                    <li>
                        <div class="entry_title"><a href="http://localhost:1313/post/2015-02-22-summary/">その２</a></div>
                        <div class="tag">tag1</div><div class="tag">tag3</div><div class="tag">tag2</div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="entry_title"><a href="http://localhost:1313/post/2015-02-22-summary/">その３</a></div>
                        <div class="tag">tag1</div><div class="tag">tag3</div><div class="tag">tag2</div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer_wrapper footer_height">
        <div class="content">
            <div class="footer2">
                Copyright © 2015 - ota42y
            </div>
        </div>
    </div>
</div>

</body>
</html>
