{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="content">
    <div class="main">
        <div class="post_list">
            <h2>{{ .Title }}</h2>

            {{ range $weight, $group := .Data.Pages.GroupByDate "2006" }}
            <h3>{{ $group.Key }}</h3>
            <ul class="posts">
                {{ range $page := $group.Pages }}
                {{ partial "headline.html" $page }}
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</div>

{{ partial "footer.html" . }}
