{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

    <div class="content">
        <div class="main">

            <div class="article">

                <div class="post_title">
                    <h1>{{ .Title }}</h1>

                    {{ $BaseUrl := .Site.BaseUrl }}

                    {{ $page := . }}
                    <time datetime="{{ $page.Date.Format "2006-01-02" }}" class="post_data">
                    {{ $page.Date.Format "2006-01-02" }}
                    </time>


                    {{ if or $page.Params.categories }}
                    {{ range $page.Params.categories}}
                    <div class="separator">|</div>
                    <div class="post_data">
                        Category: <a href="{{ $BaseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>
                    </div>
                    {{ end }}
                    {{ end }}

                    {{ if or $page.Params.tags }}
                    <div class="tags">
                        <div class="separator">|</div>

                        <div class="post_data">tags: [</div>

                        {{ range $page.Params.tags}}
                        <div class="post_data">
                            <a href="{{ $BaseUrl }}/tags/{{ . | urlize }}">{{ . }}</a>
                        </div>
                        {{ end }}
                        <div class="post_data">]</div>
                    </div>
                    {{ end }}

                    <div class="clear"></div>
                </div>

                <div class="article_body">
                    <div id="toc">
                        <div id="toc_body">
                            <div id="toc_index">目次</div>
                            {{ .TableOfContents }}
                        </div>
                    </div>


                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
    <div class="footer_height"></div>

    <div class="footer_wrapper footer_height">
        <div class="content">
            <div class="footer2">
                Copyright © 2015 - ota42y
            </div>
        </div>
    </div>
</div>

</body>
</html>
