{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

    <div class="content">
        <div class="main">

            <div class="article">

                <div class="post_title">
                    <h1>{{ .Title }}</h1>
                    {{ partial "post_detail.html" . }}
                    <div class="clear"></div>
                </div>

                <div class="article_body">
                    <div id="toc">
                        <div id="toc_body">
                            <div id="toc_index">目次</div>
                            {{ .TableOfContents }}
                        </div>
                    </div>


                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
    <div class="footer_height"></div>

    <div class="footer_wrapper footer_height">
        <div class="content">
            <div class="footer2">
                Copyright © 2015 - ota42y
            </div>
        </div>
    </div>
</div>

</body>
</html>
