{{ partial "header.html" . }}
    {{ partial "navbar.html" . }}

    <div class="content">
        <div class="main">
            <section>
                <div class="post_list">
                    <h1>最近のブログ投稿</h1>

                    <ul class="posts">
                        {{ range $name, $page := first 5 .Site.Recent }}
                        {{ partial "headline.html" $page }}
                        {{ end }}

                        <div class="clear"></div>
                    </ul>
                    <a href="/post/" class="archives">>> 過去の記事</a>
                </div>
            </section>

            <section>
                <div class="categories post_list">
                    <h1>カテゴリ別の最近の投稿</h1>
                    <section>
                        {{ $categories := .Site.Params.categories }}
                        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
                          {{ if eq "categories" $taxonomyname }}
                            {{ range $category := $categories }}
                        <section>
                            <div class="post_list">
                                <h2 id="categories::{{$category}}">{{ $category }}</h2>
                                <ul class="posts">
                                    {{ $pages := index $taxonomy $category }}
                                    {{ range $weightedPage := first 3 $pages }}
                                    {{ partial "headline.html" $weightedPage.Page }}
                                    {{ end }}
                                    <a href="/categories/{{$category}}" class="archives">>> 過去の記事</a>
                                </ul>
                            </div>
                        </section>

                            {{ end }}
                          {{ end }}
                        {{ end }}
                    </section>
                </div>
            </section>

        </div>
    </div>

{{ partial "footer.html" . }}
