{{ partial "header.html" . }}
    {{ partial "navbar.html" . }}

    <div class="content">
        <div class="main">
            <div class="post_list">
                <h2>最近のブログ投稿</h2>

                <ul class="posts">
                    {{ range $name, $page := first 5 .Site.Recent }}
                    {{ partial "headline.html" $page }}
                    {{ end }}

                    <a href="/post/" class="archives">>> 過去の記事</a>
                </ul>
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
